@font-face {
  font-family: 'yaquatec';
  src:  url('fonts/yaquatec.eot?psfymi');
  src:  url('fonts/yaquatec.eot?psfymi#iefix') format('embedded-opentype'),
    url('fonts/yaquatec.ttf?psfymi') format('truetype'),
    url('fonts/yaquatec.woff?psfymi') format('woff'),
    url('fonts/yaquatec.svg?psfymi#yaquatec') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'yaquatec' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Subtraction-3:before {
  content: "\e903";
  color: #000;
}
.icon-header .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-header .path2:before {
  content: "\e901";
  margin-left: -2.513671875em;
  color: rgb(255, 255, 255);
}
.icon-arrow:before {
  content: "\e902";
}
