@font-face {
	font-family: Hanken-Book;
	src: url("../assets/font/Hanken-Book.ttf") format('truetype');
}

@font-face {
	font-family: Hanken-Light;
	src: url("../assets/font/Hanken-Light.otf") format('opentype');
}

@font-face {
	font-family: Hanken;
	src: url("../assets/font/Hanken-Regular.otf") format('opentype');
}

@font-face {
	font-family: adineue PRO Cyr;
	src: url("../assets/font/adineuePROCyr.ttf") format('truetype');
}

*, 
*::after, 
*::before {
	box-sizing: border-box;
 }

body {
	background: $white;
	font: normal normal normal 20px/27px Hanken;
	color: $black;

	&.no-scroll-mobile {
		overflow: hidden;

		@media (min-width: 992px) {
			overflow: initial;
		}
	}

	
	&.no-scroll {
		@media (min-width: 992px) {
			overflow: hidden;
			margin-right: 17px;
		}
	}
}
 
@media (min-width: 1400px) {
	.container, 
	.container-lg, 
	.container-md, 
	.container-sm, 
	.container-xl, 
	.container-xxl {
		max-width: $width;
	}
}
 
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, 
.col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, 
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}

.container {
	padding-right: 20px;
	padding-left: 20px;

	@media (min-width: 992px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

input[type='email'], 
input[type='search'], 
input[type='number'], 
input[type='url'], 
input[type='tel'], 
input[type='text'], 
input[type='date'], 
input[type='password'], 
textarea, 
select {
	appearance: none;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-center-v {
	display: flex;
	align-items: center;
}

p {
   	margin-bottom: 27px;
}

.btn {
	background: transparent linear-gradient(270deg, $light-blue 0%, $dark-blue 100%) 0% 0% no-repeat padding-box;
	border-radius: 26px;
	color: $white;
	width: 330px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font: normal normal bold 24px/32px adineue PRO Cyr;
	letter-spacing: 0px;
	align-self: flex-end;
	margin: auto;

	@media (min-width: 992px) {
		margin: initial;
	}

	&:hover {
		background: transparent linear-gradient(270deg, $light-blue 0%, $blue 100%) 0% 0% no-repeat padding-box;
		color: $white;
	}

	&.white {
		background: $white;
		color: $black;
	
		&:hover {
			background: $silver;
		}
	}
 }

 .max-430 {
	@media (min-width: 992px) {
    	max-width: 430px;
	}
 }

 .max-700 {
	@media (min-width: 992px) {
    	max-width: 700px;
	}
 }