footer {
	margin-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
	position: relative;

	@media (min-width: 992px) {
		margin-top: 350px;
		padding-bottom: 94px;
	}

    .container {
       padding-top: 130px;
        padding-bottom: 40px; 
		color: $white;

		.title-icon {
			padding-bottom: 33px;
			padding-left: 20px;
		}

		.footer-title {
			text-align: left;
			font: normal normal bold 48px/62px adineue PRO Cyr;
			letter-spacing: 0px;

			@media (min-width: 992px) {
				font: normal normal bold 62px/83px adineue PRO Cyr;
			}
		}     
		
		.footer-subtitle {
			text-align: left;
			font: normal normal normal 20px/27px Hanken;
			letter-spacing: 0px;
			margin-top: 40px;

			@media (min-width: 992px) {
				margin-top: 72px;
			}
		}

		.widget-area {
			width: 100%;
			padding-top: 68px;
			padding-bottom: 43px;

			.title {
				text-align: left;
				font: normal normal normal 20px/27px Hanken;
				letter-spacing: 0px;
				margin-bottom: 37px;
				height: 27px;
			}

			.list {
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					text-align: left;
					font: normal normal 300 20px/27px Hanken-Light;
					letter-spacing: 0px;
					margin-bottom: 26px;

					a {
						color: $white;
						text-decoration: underline;
						text-decoration-thickness: 1px;
					}
				}
			}
		}
    }

	.footer-bg {
		position: absolute;
		overflow-x: hidden;
		overflow-y: initial;
		width: 100%;
		min-height: 125vh;
		height: 125%;
		background: $blue;

		@media (min-width: 992px) {
			background: transparent;
		}
	
		> img {
			width: calc(100vw + 30%);
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			display: none;	
			
			@media (min-width: 992px) {
				display: block;
			}
		}
	}
}	