header {
    height: 88px;
    position: fixed;
    width: 100%;
    z-index: 11;
    top: 0;
    
    @media (min-width: 992px) {
        height: 99px;
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    @-webkit-keyframes fadeIn{
        0%{opacity:0}
        100%{opacity:1}
    }
    @keyframes fadeIn{
        0%{opacity:0}
        100%{opacity:1}
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .menu-block {
        height: 100%;
        position: relative;
        overflow: hidden;
        display: none;

        @media (min-width: 992px) {
            display: block;
        }

        &.hp {
            > .container {
                &::before {
                    opacity: 1;
                    content: '';
                    width: 2400px;
                    height: 100%;
                    background: url(../assets/image/header.svg) no-repeat bottom right;
                    background-size: cover;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

                .desk {
                    margin-bottom: 38px;
                }

                #main-menu>.menu-item>a {
                    color: $white;

                    &:hover,
                    .active {
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                        color: $white;
                    }
                }
            }
        }

        > .container {
            width: 100%;
            height: 100%;
            position: relative;

            @media (min-width: 1400px) {
               max-width: $width - 20px; 
            }        
            
            > .row {
                margin-right: 0px;
                margin-left: 0px;
                display: grid;
                grid-template-columns: 1fr auto;
                height: 100%;

                @media (min-width: 992px) {
                    margin-right: -10px;
                    margin-left: -10px;
                }
            }            

            .logo {
                width: 100%;
                max-width: 207px;
                display: inline-flex;
                align-items: flex-end;
                justify-content: center;
                padding-left: 0;

                a {
                    display: block;

                    img {
                        width: 100%;

                        &.green {
                            display: none;
                        }
                    }
                }
            }

            .desk {
                display: none;

                @media (min-width: 992px) {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    margin-top: 17px;
                    margin-bottom: 9px
                }
            }

            #main-menu {
                display: inline-flex;
                list-style: none;
                padding: 0;
                gap: 10px;
                margin-bottom: 0;

                .menu-item {
                    a {
                        font-family: 'FoundersGrotesk-Regular';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 20px;
                        text-align: left;
                        color: $black;
                        text-decoration: none;
                        display: inline-flex;
                        position: relative;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    
                    &:hover {
                        ul {
                            display: block;
                        }
                    }

                    &.bold {
                        a {
                            font-family: 'FoundersGrotesk-Medium';
                        }
                    }

                    .sub-menu {
                        position: absolute;
                        margin-top: -3px;
                        z-index: 1;
                        display: none;
                        min-width: 316px;
                        min-height: 100vh;

                        &:not(.full-wide) {
                            padding: 0;
                            transform: translatex(-100px);

                            .sub-menu-column {
                                display: block;
                                max-width: initial;
                                flex: 100%;
                                width: 100%;
                            }

                            .container {
                                padding: 60px 40px;
                            }
                        }

                        &.full-wide {
                            position: absolute;
                            left: 0;
                            right: 0;
                            background: $green;
                            padding: 0;
                        }
                        
                        .container {
                            background: $green;
                            padding-top: 46px;
                            padding-bottom: 46px;
                            width: 100%;
                            min-height: calc(100vh - 138px);

                            @media (min-width: 992px) {
                                max-width: 960px;
                                padding-left: 0;
                                padding-right: 0;
                            }

                            @media (min-width: 1200px) {
                                max-width: 1140px;
                            }

                            @media (min-width: 1400px) {
                                max-width: 1320px;
                            }
                        }
                    }
                }

                > .menu-item {
                    height: 27px;
                    line-height: 27px;

                    > a {
                        line-height: 27px;
                        padding-right: 5px;
                        padding-left: 5px;
                        font-size: 20px;
                        height: 27px;
                        font-family: Hanken;
                        letter-spacing: 0px;
                        color: $black;
                        opacity: 1;
                        padding: 0 34px;

                        &:hover,
                        .active {
                            text-decoration: none;
                            color: $blue;
                        }
                    }
                }
            }
        }
    }

    .mobile-menu {
        @media (min-width: 992px) {
            display: none;
        }

        .navbar {
            background: $blue;

            .container {
                padding: 0;
            }

            .navbar-brand {
                width: calc(100% - 80px);
                max-width: 244px;
            }
        }

        .dineuron-menu{
            width: 100%; 
            height: 100%; 
            opacity: 0; 
            visibility: hidden;

            .nav li {
                opacity: 0;
                transform: translateY(-40px);
                animation-timing-function: cubic-bezier(.45,.005,0,1);

                a {
                    color:$white; 
                    font-size: 48px; 
                    font-weight:400;
                    padding: 20px 0; 
                }
            }
        }

        .dineuron-menu .nav li.delay-1{
            transition-delay:0.1s; 
        }
        .dineuron-menu .nav li.delay-2{
            transition-delay:0.2s; 
        }
        .dineuron-menu .nav li.delay-3{
            transition-delay:0.3s; 
        }
        .dineuron-menu .nav li.delay-4{
            transition-delay:0.4s; 
        }
        .dineuron-menu .nav li.delay-5{
            transition-delay:0.5s; 
        }
        .dineuron-menu .nav li.delay-6{
            transition-delay:0.6s; 
        }
        .dineuron-menu .nav li.delay-7{
            transition-delay:0.7s; 
        }
        .dineuron-menu .nav li.delay-8{
            transition-delay:0.8s; 
        }
        .dineuron-menu .nav li.delay-9{
            transition-delay:0.9s; 
        }

        .nav-button{
            position:relative; 
            z-index:1111; 
            border:solid 1px #f8f8f8;  
            height:42px; 
            display:block; 
            width:50px; 
            padding:12px; 

            #nav-icon3{
                width:24px;
                height:22px;
                display:inline-block;
                position:relative;
                transform:rotate(0deg);
                transition:.5s ease-in-out;
                cursor:pointer;

                span{
                    display:block;
                    position:absolute;
                    height:3px;
                    width:100%;
                    background:#FFFFFF;
                    border-radius:9px;
                    opacity:1;
                    left:0;
                    transform:rotate(0deg);
                    transition:.25s ease-in-out;

                    &:nth-child(1){
                        top:0
                    }

                    &:nth-child(2),
                    &:nth-child(3){
                        top:7px
                    }

                    &:nth-child(4){
                        top:14px
                    }
                }
            }
        }

        .flex-center{
            display:flex;
            justify-content:center;
            align-items:center;
            height:100%;
        }
        
    }
}

.nav-open {
    .mobile-menu {
        .dineuron-menu {
            opacity: 1; 
            visibility: visible; 
            background: rgba($blue, 0.92); 

            .nav li{
                opacity: 1;
                transition: transform .2s,opacity .2s;
            }
        }

        #nav-icon3 span {
            &:nth-child(1){
                top:9px;
                width:0;
                left:50%
            }

            &:nth-child(2){
                transform:rotate(45deg)
            }

            &:nth-child(3){
                transform:rotate(-45deg)
            }

            &:nth-child(4){
                top:9px;
                width:0;
                left:50%
            }
        }
    }
}
