/* -------------------------------- 

Primary style

-------------------------------- */

.cd-section {
  position: relative;

  .container {

    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: left;
      min-height: 45vh;
    }
    
    .content .upper {
      justify-content: normal;
    }

    .title-icon {
      padding-bottom: 33px;
      padding-left: 20px;
      margin-top: 100px;

      @media (min-width: 992px) {
        margin-top: 250px;
      }
    }

    .title {
      font: normal normal bold 48px/62px adineue PRO Cyr;

      @media (min-width: 992px) {
        font: normal normal bold 62px/83px adineue PRO Cyr;
      }
    }

    .text {
      font: normal normal normal 20px/27px Hanken;
      margin-top: 30px;

      @media (min-width: 992px) {
        margin-top: 72px;
      }
    }

    .max-width {
      max-width: 430px;
    }

    .hp-scientific-list,
    .hp-products-list,
    .hp-future-list,
    .hp-services-list {
      padding-bottom: 30px;

      .subtitle {
        margin-top: 47px;
        margin-bottom: 0px;
        font: normal normal bold 24px/32px adineue PRO Cyr;
      }

      ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 27px 90px;
        padding-left: 0;
        margin-top: 43px;

        @media (min-width: 992px) {
          grid-template-columns: 1fr 1fr;
        }

        li {
          list-style: none;
          display: grid;
          grid-template-columns: 34px auto;
          gap: 17px;

          @media (min-width: 992px) {
            grid-template-columns: 34px 267px;
          }

          .title {
            font: normal normal 300 20px/27px Hanken-Light;
            letter-spacing: 0px;
            text-decoration: underline;
            text-decoration-thickness: 1px;
          }
        }
      }
    }

    .hp-products-list {
      padding-top: 0px;
      padding-bottom: 116px;

      @media (min-width: 992px) {
        padding-top: 130px;
      }
    }

    .hp-future-list,
    .hp-services-list {
      padding-bottom: 40px;

      @media (min-width: 992px) {
        padding-bottom: 102px;
      }

      .subtitle {
        margin-bottom: 70px;
      }

      ul {
        grid-template-columns: 1fr;

        li {
          grid-template-columns: 34px auto;

          @media (min-width: 992px) {
            grid-template-columns: 34px 400px;
          }
        }
      }
    }

    .scroll-down {
      position: absolute;
      color: $black;
      bottom: 11px;

      span {
        font-size: 20px;
        line-height: 27px;
        font: normal normal 300 20px/27px Hanken;
        cursor: pointer;

        &:before {
          font-family: 'yaquatec';
          content: "\e902";
          font-size: 9px;
          padding-right: 25px;
          line-height: 27px;
          float: left;
        }
      }
    }
  }

  &.service-block {
    color: white;
    margin-bottom: 25%;
    margin-top: 25%;
  }

  .service-bg {
    position: absolute;
    overflow-x: hidden;
    overflow-y: initial;
    width: 100%;
    height: 110%;
    background: $blue;

    @media (min-width: 992px) {
      background: transparent;
      height: 125%;
    }

    > img {
      width: calc(100vw + 30%);
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }

    .water {
      position: absolute;
      right: -15%;
      top: 325px;
      width: 1200px;
      opacity: 0.2;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }

      img {
        width: 1200px;
      }
    }

    .water-care {
      position: absolute;
      right: -20px;
      bottom: 70px;
      width: 800px;
      height: 700px;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }

      img {
        height: 700px;
        width: auto;
      }
    }
  }
}

.hp-background-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../assets/image/bg.jpg') no-repeat center center fixed; 
  background-size: cover;
  z-index: -1;
  opacity: 0;
}

