.wrap.page {
    padding-top: 200px;
    overflow: hidden;

    @media (min-width: 992px) {
        padding-top: 354px;
    }

    .title-icon {
        padding-left: 19px;
        padding-bottom: 24px;
    }

    .entry-title {
        text-align: left;
        font: normal normal bold 48px/62px adineue PRO Cyr;
        letter-spacing: 0px;

        @media (min-width: 992px) { 
            font: normal normal bold 62px/83px adineue PRO Cyr;
        }
    }

    .entry-content {
        padding-top: 30px;

        @media (min-width: 992px) { 
            padding-top: 73px;
        }

        ul {
            margin-top: 30px;
            padding-left: 8px;
            margin-bottom: 50px;
            font: normal normal 300 20px/27px Hanken-Light;

            @media (min-width: 992px) {
                margin-top: 44px;
                margin-bottom: 96px;
            }

            li {
                list-style: none;
                padding-bottom: 14px;

                @media (min-width: 992px) {
                    padding-bottom: 28px;
                }

                &::marker {
                    content: "-"
                }
            }
        }
    }

    .balloon {
        height: 648px;
        position: relative;
        padding-left: 140px;
        display: none;

        @media (min-width: 992px) {
            display: block;
        }

        &::before {
            content: "";
            height: 649px;
            background: url(../assets/image/balloon.svg) no-repeat bottom left;
            background-size: cover;
            position: absolute;
            width: 976px;
            z-index: -1;
        }

        img {
            margin-left: 185px;
            margin-top: 244px;
        }
    }
}