body {
  background: #F5F5E8;
  font-family: 'FoundersGrotesk-Regular';
  color: #283B29;
}

body.no-scroll {
  margin-right: 17px;
  overflow: hidden;
}

body.product {
  background: #283B29;
  color: #F5F5E8;
}

body.product footer .container {
  border-top: 1px solid #F5F5E8;
}

body.red-bg {
  background: #BA5435;
}

body.red-bg footer {
  background: #BA5435;
}

body.white-bg {
  background: #F5F5E8;
  color: #283B29;
}

body.white-bg header .menu-block > .container {
  border-color: #283B29;
}

body.white-bg header .menu-block > .container .logo a img.white {
  display: none;
}

body.white-bg header .menu-block > .container .logo a img.green {
  display: block;
}

body.white-bg header .menu-block > .container .right-side a,
body.white-bg header .menu-block > .container .right-side .header-cart,
body.white-bg header .menu-block > .container .right-side .show-search-button {
  color: #283B29;
}

body.white-bg .product-info .product-desc hr {
  border-color: #283B29;
}

body.white-bg .menu-block > .container #main-menu > .menu-item > a {
  color: #283B29;
}

body.white-bg .product-info {
  border-color: #283B29;
}

body.white-bg .why-this .accordion {
  border-color: #283B29;
}

body.white-bg .why-this .accordion .accordion-toggle {
  color: #283B29;
  border-color: #283B29;
}

body.white-bg .why-this .accordion .accordion-toggle::before, body.white-bg .why-this .accordion .accordion-toggle:after {
  color: #283B29;
  fill: #283B29;
}

body.white-bg .why-this .accordion .accordion-toggle::before svg, body.white-bg .why-this .accordion .accordion-toggle:after svg {
  fill: red;
}

body.white-bg .add-to-cart button,
body.white-bg .medication-order form input[type=submit] {
  border-color: #283B29;
  color: #283B29;
}

body.white-bg .add-to-cart button:hover,
body.white-bg .medication-order form input[type=submit]:hover {
  background: #283B29;
  color: #F5F5E8;
}

body.white-bg footer .container {
  border-top: 0;
}

@font-face {
  font-family: 'FoundersGrotesk-Regular';
  src: url("../assets/font/FoundersGrotesk-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'FoundersGrotesk-Medium';
  src: url("../assets/font/FoundersGrotesk-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'FoundersGrotesk-Bold';
  src: url("../assets/font/FoundersGrotesk-Bold.otf") format("opentype");
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1340px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

input[type='email'],
input[type='search'],
input[type='number'],
input[type='url'],
input[type='tel'],
input[type='text'],
input[type="date"],
input[type="password"],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

header {
  height: 131px;
}

header .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

header .menu-block {
  height: 100%;
}

header .menu-block > .container {
  width: 100%;
  max-width: 1320px;
  height: 100%;
}

header .menu-block > .container > .row {
  margin-right: 10px;
  margin-left: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  height: 100%;
  border-bottom: 1px solid #F5F5E8;
}

@media (min-width: 767px) {
  header .menu-block > .container > .row {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (min-width: 767px) {
  header .menu-block > .container .mobile-menu {
    display: none;
  }
}

header .menu-block > .container .mobile-menu .menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #F5F5E8;
}

header .menu-block > .container .logo {
  width: 100%;
  max-width: 207px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

header .menu-block > .container .logo a {
  display: block;
}

header .menu-block > .container .logo a img {
  width: 100%;
}

header .menu-block > .container .logo a img.green {
  display: none;
}

header .menu-block > .container .desk {
  display: none;
}

@media (min-width: 767px) {
  header .menu-block > .container .desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .menu-block > .container #main-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 13px;
}

header .menu-block > .container #main-menu .menu-item a {
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  height: 22px;
  text-align: center;
  color: #F5F5E8;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

header .menu-block > .container #main-menu .menu-item a:hover {
  text-decoration: underline;
}

header .menu-block > .container #main-menu .menu-item:hover ul {
  display: block;
}

header .menu-block > .container #main-menu .menu-item.bold a {
  font-family: 'FoundersGrotesk-Medium';
}

header .menu-block > .container #main-menu .menu-item .sub-menu {
  position: absolute;
  margin-top: -3px;
  z-index: 1;
  display: none;
  min-width: 316px;
  min-height: 100vh;
}

header .menu-block > .container #main-menu .menu-item .sub-menu:not(.full-wide) {
  padding: 0;
  -webkit-transform: translatex(-100px);
          transform: translatex(-100px);
}

header .menu-block > .container #main-menu .menu-item .sub-menu:not(.full-wide) .sub-menu-column {
  display: block;
  max-width: initial;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: 100%;
}

header .menu-block > .container #main-menu .menu-item .sub-menu:not(.full-wide) .container {
  padding: 60px 40px;
}

header .menu-block > .container #main-menu .menu-item .sub-menu.full-wide {
  position: absolute;
  left: 0;
  right: 0;
  background: #283B29;
}

header .menu-block > .container #main-menu .menu-item .sub-menu .container {
  background: #283B29;
  padding-top: 46px;
  padding-bottom: 46px;
  width: 100%;
  max-width: 1440px;
  min-height: calc(100vh - 138px);
}

header .menu-block > .container #main-menu .menu-item .sub-menu .sub-menu-column:before {
  content: attr(data-count);
  color: #F5F5E8;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 11px;
  display: block;
}

header .menu-block > .container #main-menu .menu-item .sub-menu .sub-menu-column .menu-title {
  color: #F5F5E8;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  height: 76px;
  padding-bottom: 27px;
  border-bottom: 1px solid #F5F5E8;
  margin-bottom: 9px;
}

header .menu-block > .container #main-menu .menu-item .sub-menu .sub-menu-column .menu-item-area {
  border-bottom: 1px solid #F5F5E8;
  margin-bottom: 9px;
  padding-bottom: 6px;
}

header .menu-block > .container #main-menu .menu-item .sub-menu .sub-menu-column .menu-item {
  line-height: 27px;
  list-style: none;
}

header .menu-block > .container #main-menu .menu-item .sub-menu .sub-menu-column .menu-item a {
  font-size: 15px;
  line-height: 27px;
}

header .menu-block > .container #main-menu > .menu-item {
  height: 120px;
  line-height: 120px;
}

header .menu-block > .container #main-menu > .menu-item > a {
  height: 120px;
  line-height: 120px;
}

header .menu-block > .container #main-menu > .menu-item:hover > a::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: calc(50% - 11px);
  background-image: url(../assets/image/chevron-down.png);
}

header .menu-block > .container .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 12px;
}

header .menu-block > .container .right-side a {
  display: none;
}

@media (min-width: 767px) {
  header .menu-block > .container .right-side a {
    font-family: 'FoundersGrotesk-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    height: 22px;
    text-align: center;
    color: #F5F5E8;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

header .menu-block > .container .right-side .header-cart {
  width: 21px;
  height: 17px;
  margin-right: 33px;
  margin-top: -8px;
  cursor: pointer;
  color: #F5F5E8;
}

header .menu-block > .container .right-side .header-cart:before {
  font-family: 'parapharm';
  content: "\e903";
  font-size: 17px;
  line-height: 17px;
}

header .menu-block > .container .right-side .search-block.show-search .search-field {
  display: block;
}

header .menu-block > .container .right-side .search-field {
  position: fixed;
  top: 138px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 370;
  background: #283B29;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 76px 63px;
}

header .menu-block > .container .right-side .search-field .container {
  border-bottom: 1px solid rgba(245, 245, 232, 0.5);
}

header .menu-block > .container .right-side .search-field input[type="text"] {
  color: #F5F5E8;
  border: none;
  font-size: 55px;
  height: 82px;
  background: none;
  line-height: 66px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .menu-block > .container .right-side .search-field input[type="text"]::-webkit-input-placeholder {
  color: #F5F5E8;
}

header .menu-block > .container .right-side .search-field input[type="text"]:-ms-input-placeholder {
  color: #F5F5E8;
}

header .menu-block > .container .right-side .search-field input[type="text"]::-ms-input-placeholder {
  color: #F5F5E8;
}

header .menu-block > .container .right-side .search-field input[type="text"]::placeholder {
  color: #F5F5E8;
}

header .menu-block > .container .right-side .search-field button {
  background: none;
  width: 46px;
  height: 36px;
  border: 0;
  float: right;
  margin-top: 24px;
  line-height: 34px;
  color: #F5F5E8;
}

header .menu-block > .container .right-side .search-field button:before {
  font-family: 'parapharm';
  content: "\e900";
  font-size: 36px;
}

header .menu-block > .container .right-side .show-search-button {
  display: none;
}

@media (min-width: 767px) {
  header .menu-block > .container .right-side .show-search-button {
    width: 25px;
    height: 25px;
    margin-right: 33px;
    margin-top: -5px;
    cursor: pointer;
    color: #F5F5E8;
  }
}

header .menu-block > .container .right-side .show-search-button:before {
  font-size: 25px;
  font-family: 'parapharm';
  content: "\e902";
  line-height: 26px;
  font-weight: 400;
}

.main-block {
  height: calc(100vh - 139px);
}

.video-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  overflow: hidden;
  background: #283B29;
}

.video-bg video {
  opacity: 0.65;
}

.main-left {
  position: relative;
  margin-top: 93px;
  padding-right: 30px;
  height: 564px;
}

.main-left h2 {
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  color: #F5F5E8;
}

.main-left .text {
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  max-width: 398px;
  color: #F5F5E8;
  margin-top: 67px;
}

.main-left::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  right: 0px;
  top: 0px;
  border-right: 1px solid #F5F5E8;
}

.view-shop {
  border: 1px solid #F5F5E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 65px;
  height: 50px;
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #F5F5E8;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 45px 5px;
}

.view-shop:hover {
  background: #F5F5E8;
  color: #283B29;
  text-decoration: none;
}

.product-list {
  padding-top: 111px;
}

.product-list h3 {
  border-top: 1px solid #283B29;
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 66px;
  color: #283B29;
  padding-top: 38px;
}

.product-list .products {
  padding-top: 38px;
  padding-bottom: 44px;
}

.product-list .products .product-grid-item {
  float: left;
  margin-bottom: 70px;
}

.product-list .products .product-grid-item a {
  color: #283B29;
  text-decoration: none;
}

.product-list .products .product-grid-item .product-image {
  width: 100%;
}

.product-list .products .product-grid-item .product-image img {
  width: 100%;
}

.product-list .products .product-grid-item .product-title {
  font-size: 18px;
  line-height: 22px;
  padding-top: 17px;
}

.product-list .products .product-grid-item .price {
  font-family: 'FoundersGrotesk-Bold';
  font-size: 18px;
  line-height: 22px;
  height: 34px;
}

footer {
  background: #283B29;
}

footer .container {
  padding-top: 58px;
  padding-bottom: 96px;
}

footer .logo-menu-area .logo {
  float: left;
  margin-right: 67px;
  width: 45px;
}

footer .logo-menu-area .logo img {
  width: 45px;
}

footer .menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .menu-area ul {
  padding: 0;
  list-style: none;
}

footer .menu-area ul li a {
  color: #F5F5E8;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
}

footer .menu-area ul li a:hover {
  text-decoration: underline;
}

footer .about-block {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

footer .about-block .about-us {
  color: #F5F5E8;
  font-size: 17px;
  line-height: 20px;
}

footer .about-block .about-us .title {
  font-family: 'FoundersGrotesk-Medium';
}

footer .about-block .about-us .address {
  margin-top: 56px;
}

footer .about-block .about-us .address a {
  color: #F5F5E8;
  text-decoration: none;
  display: block;
}

footer .about-block .about-us .address a:hover {
  text-decoration: underline;
}

footer .about-block .trust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.vitazyme-main-info .container {
  position: relative;
}

.vitazyme-main-info .container .product-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.6;
}

.vitazyme-main-info .container .product-bg img {
  max-width: inherit;
  height: 100%;
  min-width: calc(100%);
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.product-info {
  border-right: 1px solid #F5F5E8;
  margin-top: 86px;
  margin-bottom: 86px;
  padding-right: 122px;
}

.product-info h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 56px;
  padding-top: 30px;
}

.product-info .product-desc {
  padding-top: 48px;
  font-size: 22px;
  line-height: 31px;
}

.product-info .product-desc p {
  margin-bottom: 31px;
}

.product-info .product-desc b,
.product-info .product-desc strong {
  font-family: 'FoundersGrotesk-Medium';
  font-weight: 400;
}

.product-info .product-desc hr {
  border-top: 1px solid #F5F5E8;
  margin-bottom: 40px;
}

.product-info .product-desc a {
  color: #283B29;
  text-decoration: underline;
}

.product-info .more-info {
  font-size: 22px;
  line-height: 26px;
  color: #283B29;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.product-info .more-info::after {
  font-family: 'parapharm';
  content: "\e901";
  font-size: 27px;
  padding-left: 10px;
  margin-top: -4px;
}

.vitazyme-gallery {
  padding-top: 104px;
  padding-left: 112px;
  margin-bottom: 86px;
}

.vitazyme-gallery img {
  max-width: 100%;
}

.why-this .title {
  font-size: 55px;
  line-height: 140%;
  border-top: 1px solid #F5F5E8;
  padding-top: 86px;
  padding-bottom: 64px;
}

.why-this .accordion {
  border-bottom: 1px solid #F5F5E8;
}

.why-this .accordion-toggle {
  font-weight: normal;
  font-size: 55px;
  line-height: 77px;
  color: #F5F5E8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  border-top: 1px solid #F5F5E8;
  width: 100%;
  padding-top: 39px;
  padding-bottom: 22px;
}

.why-this .accordion-toggle:before {
  content: attr(data-count);
  color: #F5F5E8;
  display: block;
  font-size: 55px;
  line-height: 77px;
  width: 203px;
  margin-right: 20px;
}

.why-this .accordion-toggle::after {
  content: "";
  background-image: url(../assets/image/icon/chevron-down.svg);
  width: 42px;
  height: 45px;
  position: absolute;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.why-this .accordion-toggle:not(.collapsed)::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.why-this .accordion-inner {
  padding-left: 223px;
  font-size: 17px;
  line-height: 24px;
  max-width: 980px;
  padding-bottom: 91px;
  padding-top: 86px;
}

.additional-information {
  padding-top: 86px;
}

.additional-information .column-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 76px 132px;
}

.additional-information .title {
  font-size: 22px;
  line-height: 31px;
  height: 59px;
}

.additional-information .desc {
  font-size: 17px;
  line-height: 24px;
}

.add-to-cart {
  margin-top: 87px;
  margin-bottom: 147px;
}

.add-to-cart button {
  border: 1px solid #F5F5E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 65px;
  height: 50px;
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #F5F5E8;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 75px 5px;
  min-width: 203px;
  background: transparent;
}

.add-to-cart button:hover {
  background: #F5F5E8;
  color: #283B29;
}

.medication-order {
  padding-bottom: 118px;
}

.medication-order .container:before {
  content: "";
  border-top: 1px solid #283B29;
  display: block;
  padding-bottom: 118px;
}

.medication-order .container .row .form-area {
  padding-right: 122px;
}

.medication-order .container .row .info-area {
  padding-left: 122px;
}

.medication-order .container h2 {
  font-size: 55px;
  line-height: 77px;
}

.medication-order .container .title {
  min-height: 95px;
  margin-bottom: 8px;
}

.medication-order .container .desc {
  font-size: 22px;
  line-height: 31px;
  padding-top: 44px;
}

.medication-order form {
  max-width: 538px;
}

.medication-order form input {
  background: none;
  border: 0;
  border-bottom: 1px solid #283B29;
  box-shadow: none;
  display: block;
  width: 100%;
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
  line-height: 24px;
  color: #283B29;
  padding-bottom: 8px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.medication-order form input::-webkit-input-placeholder {
  color: rgba(40, 59, 41, 0.5);
}

.medication-order form input:-ms-input-placeholder {
  color: rgba(40, 59, 41, 0.5);
}

.medication-order form input::-ms-input-placeholder {
  color: rgba(40, 59, 41, 0.5);
}

.medication-order form input::placeholder {
  color: rgba(40, 59, 41, 0.5);
}

.medication-order form .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.medication-order form .inputfile + label {
  font-size: 17px;
  line-height: 24px;
  display: block;
  cursor: pointer;
  outline: none;
  border: 0;
  border-bottom: 1px solid #283B29;
  padding-bottom: 8px;
  padding-top: 40px;
  color: rgba(40, 59, 41, 0.5);
}

.medication-order form .inputfile + label span.file {
  color: #283B29;
}

.medication-order form .inputfile + label * {
  pointer-events: none;
}

.medication-order form input[type=submit] {
  border: 1px solid #F5F5E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 65px;
  height: 50px;
  font-family: 'FoundersGrotesk-Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #F5F5E8;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 75px 5px;
  min-width: 203px;
  background: transparent;
  width: auto;
  margin-top: 73px;
}

.medication-order form input[type=submit]:hover {
  background: #F5F5E8;
  color: #283B29;
}

.main-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 63px;
  border-bottom: 1px solid #283B29;
}

.main-product .product-gallery {
  position: relative;
  -ms-flex-preferred-size: 427px;
      flex-basis: 427px;
  min-width: 427px;
  max-width: 427px;
  width: 427px;
  height: 427px;
  background: white;
}

.main-product .product-information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  padding-left: 130px;
}

.main-product .product-information .product-title {
  font-size: 22px;
  line-height: 26px;
  height: 34px;
}

.main-product .product-information .product-price {
  font-size: 22px;
  line-height: 26px;
  color: rgba(40, 59, 41, 0.5);
}

.main-product .product-information .qty-buy-area {
  border-bottom: 1px solid #283B29;
  display: inline-block;
  width: 100%;
  padding-bottom: 35px;
  padding-top: 96px;
  margin-bottom: 79px;
}

.main-product .product-information .qty-buy-area .quantity {
  margin-left: -12px;
  display: inline-block;
}

.main-product .product-information .qty-buy-area .quantity .minus,
.main-product .product-information .qty-buy-area .quantity .plus {
  background-color: transparent;
  width: 50px;
  height: 17px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  border-radius: 0;
  -webkit-appearance: button;
  cursor: pointer;
  font-size: 17px;
  line-height: 20px;
  border: 0;
  outline: none;
}

.main-product .product-information .qty-buy-area .quantity .minus {
  border-right: 0;
}

.main-product .product-information .qty-buy-area .quantity .plus {
  border-left: 0;
}

.main-product .product-information .qty-buy-area .quantity input::-webkit-outer-spin-button,
.main-product .product-information .qty-buy-area .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-product .product-information .qty-buy-area .quantity input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #283B29;
  border-radius: 100%;
  outline: none;
  line-height: 50px;
  background: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7px;
}

.main-product .product-information .qty-buy-area .quantity .screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.main-product .product-information .qty-buy-area .buy-btn-area {
  display: inline-block;
}

.main-product .product-information .qty-buy-area .buy-btn-area button {
  width: 129px;
  height: 50px;
  background: none;
  border: 1px solid #283B29;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 65px;
  padding-top: 7px;
}

.main-product .product-information .product-description {
  font-size: 17px;
  line-height: 24px;
}

.product-spec {
  font-size: 17px;
  line-height: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.product-spec .title {
  padding-bottom: 24px;
}

.product-spec .spec span {
  display: block;
}

.recently-product {
  border-top: 1px solid #283B29;
  padding-top: 63px;
}

.recently-product .title {
  font-size: 25px;
  line-height: 30px;
}

.recently-product .product-list {
  padding-top: 45px;
}

.breadcrumb {
  background: none;
  padding: 57px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 21px;
}

.breadcrumb a {
  font-size: 16px;
  line-height: 19px;
  color: rgba(40, 59, 41, 0.5);
  padding-right: 18px;
  position: relative;
}

.breadcrumb a:hover {
  text-decoration: none;
  color: #283B29;
}

.breadcrumb a:not(:last-child):after {
  content: ">";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 4px;
  color: rgba(40, 59, 41, 0.5);
}

.filter-area {
  padding-right: 19px;
}

.filter-area .filter-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: 'FoundersGrotesk-Medium';
  margin-bottom: 46px;
}

.filter-area .filter-list {
  margin-bottom: 63px;
}

.filter-area .filter-list .filter-field .label input {
  display: none;
}

.filter-area .filter-list .filter-field .title-container {
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  position: relative;
  margin-bottom: 2px;
}

.filter-area .filter-list .filter-field .label input:checked + label:before {
  font-family: 'parapharm';
  content: "\e904";
  color: #283B29;
  font-size: 10px;
  position: absolute;
  right: 4px;
}

.filter-area .filter-list .filter-field:last-child .title-container {
  border-bottom: 0;
}

.sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sidebar-container .sidebar {
  position: relative;
  z-index: 100;
  -ms-flex-preferred-size: 210px;
      flex-basis: 210px;
  width: 210px;
  min-width: 210px;
  margin-right: 30px;
  max-width: 210px;
}

.sidebar-container .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
}

.sidebar-container .content .category-info {
  padding-bottom: 42px;
  border-bottom: 1px solid #283B29;
  margin-bottom: 43px;
}

.sidebar-container .content .category-info .text-block {
  position: relative;
  padding-right: 53px;
  height: 359px;
}

.sidebar-container .content .category-info .text-block .title {
  font-size: 22px;
  line-height: 31px;
  height: 133px;
}

.sidebar-container .content .category-info .text-block .desc {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 12px;
}

.sidebar-container .content .category-info .text-block:after {
  content: "";
  position: absolute;
  height: 100%;
  border-right: 1px solid #283B29;
  top: 0;
  right: 0;
}

.sidebar-container .content .category-info .media-block {
  padding-left: 53px;
}

.sidebar-container .content .category-info .media {
  max-width: 469px;
  width: 100%;
  height: 329px;
  overflow: hidden;
  border-radius: 191px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
  position: relative;
}

.sidebar-container .content .category-info .media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar-container .content .product-list {
  padding-top: 0px;
}

.sidebar-container .content .product-list .products {
  padding-bottom: 30px;
  padding-top: 0;
}

.sidebar-container .content .product-list .products .product-grid-item {
  margin-bottom: 56px;
}

.sidebar-container .content .pagination {
  border-top: 1px solid #283B29;
  padding-top: 32px;
  padding-bottom: 138px;
}

.sidebar-container .content .pagination .row {
  width: 100%;
}

.sidebar-container .content .pagination .row a {
  color: #283B29;
  text-decoration: none;
  width: 100%;
  display: block;
}

.sidebar-container .content .pagination .row a.next:after {
  font-family: 'parapharm';
  content: "\e900";
  position: absolute;
  font-size: 20px;
  right: 0;
}

.sidebar-container .content .pagination .row a.prev {
  text-align: right;
}

.sidebar-container .content .pagination .row a.prev:after {
  font-family: 'parapharm';
  content: "\e900";
  position: absolute;
  font-size: 20px;
  left: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar-container .content .pagination .row a span {
  font-size: 25px;
  line-height: 35px;
}

.sidebar-container .content .pagination .row a:hover span {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */